<div class="container-fluid p-0">
  <div class="container-fluid" style="width: 100%;">
    <div *ngIf="documentType; else noData">
      <div class="card border-success mt-3">
        <div class="card-header" style="background-color: #829B66; color: white;">
          <h5 class="card-title mb-0"> Details de document  {{ documentType.documentTypeLibelle }}</h5>
        </div>
        <div class="card-body" style="padding: 1rem;">
          <p class="card-text"><strong>État:</strong> {{ documentType.documentTypeEtat }}</p>

          <p class="card-text"><strong>Libellé:</strong> {{ documentType.documentTypeLibelle }}</p>
          <p class="card-text"><strong>Libellé Arabe:</strong> {{ documentType.documentTypeLibelleArabe }}</p>
          <p class="card-text"><strong>Description:</strong> {{ documentType.documentTypeDescription }}</p>
          <p class="card-text"><strong>Description Arabe:</strong> {{ documentType.documentTypeDescriptionArabe }}</p>
        </div>
      </div>
    </div>

    <ng-template #noData>
      <div class="alert alert-warning mt-3" role="alert">
        Aucun détail disponible pour ce document type.
      </div>
    </ng-template>
    <div class="mt-3">
      <a routerLink="/docTypes" class="btn btn-secondary">
        <i class="fas fa-arrow-left mr-1"></i> Retour
      </a>
    </div>
    
  </div>
</div>
