<div class="container-fluid mt-5">
    <div class="card" style="width: 100%;">
      <div class="card-header" style="background-color: #829B66; color: white;">
        <h4 class="card-title mb-0" style="font-size: 1.1rem;">Modifier un établissement</h4>
      </div>
      <div class="card-body p-5">
        <form [formGroup]="etablissementForm" (ngSubmit)="updateEtablissement()" class="row g-3">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="etablissementLibelle" class="form-label bold-label">
                Libelle <span class="text-danger">*</span>
              </label>
              <input id="etablissementLibelle" type="text" class="form-control green-border" formControlName="etablissementLibelle">
              <div *ngIf="etablissementForm.controls['etablissementLibelle'].invalid && (etablissementForm.controls['etablissementLibelle'].dirty || etablissementForm.controls['etablissementLibelle'].touched)">
                <small class="text-danger" *ngIf="etablissementForm.controls['etablissementLibelle'].errors?.['required']">Libelle est requis.</small>
              </div>
            </div>
  
            <div class="col-md-6 mb-3">
              <label for="etablissementTelephone" class="form-label bold-label">
                Téléphone <span class="text-danger">*</span>
              </label>
              <input id="etablissementTelephone" type="text" class="form-control green-border" formControlName="etablissementTelephone">
              <div *ngIf="etablissementForm.controls['etablissementTelephone'].invalid && (etablissementForm.controls['etablissementTelephone'].dirty || etablissementForm.controls['etablissementTelephone'].touched)">
                <small class="text-danger" *ngIf="etablissementForm.controls['etablissementTelephone'].errors?.['required']">Téléphone est requis.</small>
                <small class="text-danger" *ngIf="etablissementForm.controls['etablissementTelephone'].errors?.['pattern']">Numéro de téléphone invalide.</small>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="etablissementAdresse" class="form-label bold-label">
                Adresse <span class="text-danger">*</span>
              </label>
              <input id="etablissementAdresse" type="text" class="form-control green-border" formControlName="etablissementAdresse">
              <div *ngIf="etablissementForm.controls['etablissementAdresse'].invalid && (etablissementForm.controls['etablissementAdresse'].dirty || etablissementForm.controls['etablissementAdresse'].touched)">
                <small class="text-danger" *ngIf="etablissementForm.controls['etablissementAdresse'].errors?.['required']">Adresse est requise.</small>
              </div>
            </div>
          </div>
  
          <div class="col-12 text-center">
            <button type="submit" class="btn custom-btn-success mx-2">Mettre à jour</button>
            <button type="button" class="btn btn-secondary mx-2" (click)="onCancel()">Annuler</button>
          </div>
        </form>
        <div *ngIf="errorMessage" class="alert alert-danger mt-3">
          {{ errorMessage }}
        </div>
      </div>
    </div>
  </div>
  