<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<div class="content-page">
  <!-- Start Content-->
  <div class="container">
    <!-- start page title -->
    <!-- <div class="row">
      <div class="col-12">
        <div class="page-title-box">
          <div class="page-title-right">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item"><a href="javascript: void(0);">Xtensus</a></li>
              <li class="breadcrumb-item active">Gestion de Tribunal</li>
            </ol>
          </div>
        </div>
      </div>
    </div> -->
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="title-heading">Gestion de Tribunal</h1>
        <p class="subtitle">Organisez et gérez efficacement les tribunaux</p>
      </div>
    </div>
    
      <div class="menu-container mt-2">
        <div class="menu-box shadow" routerLink="/tribunal-types">
          <div>
            <i class="bi bi-bank2 icon-common"></i> <!-- Marteau de juge -->
            <p>Tribunal Type</p>
          </div>
        </div>
        <div class="menu-box shadow" routerLink="/pro-types">
          <div>
           <i class="fas fa-user icon-common"></i>
              
  <p>Professionnal Type</p>
          </div>
        </div>
        <div class="menu-box shadow" routerLink="/notif">
          <div>
            <i class="fas fa-bell icon-common"></i>
            <p>Notification moyen</p>
          </div>
        </div>
        <div class="menu-box shadow" routerLink="/gov">
          <div>
            <i class="fas fa-map-marker-alt icon-common"></i> 
            <p>Gouvernorat</p>
          </div>
        </div>
        <div class="menu-box shadow" routerLink="/client-types">
          <div>
            <i class="fas fa-users icon-common"></i>           
             <p>Type Client </p>
          </div>
        </div>
        <div class="menu-box shadow" routerLink="/list">
          <div>
            <i class="fas fa-balance-scale icon-common"></i>            
            <p>Contentieux Type</p>
          </div>
        </div>
        <div class="menu-box shadow" routerLink="/docTypes">
          <div>
            <i class="fas fa-file-alt icon-common"></i> 
            <p>Document Type</p>
          </div>
        </div>
        <div class="menu-box shadow" routerLink="/jugement">
          <div>
            <i class="fas fa-gavel icon-common"></i>            
            <p>Jugement</p>
          </div>
        </div>
        <div class="menu-box shadow" routerLink="/state">
          <div>
            <i class="fas fa-check-circle icon-common"></i>           
             <p>Etat</p>
          </div>
        </div>
        <div class="menu-box shadow" routerLink="/bureau-types">
          <div>
            <i class="fas fa-briefcase icon-common"></i> 
            <p>Bureau Type</p>
          </div>
        </div>
        <div class="menu-box shadow" routerLink="/BureauSpecialiteList">
          <div>
            <i class="fas fa-desktop icon-common"></i>
            <p>Bureau Spécialité</p>
          </div>
        </div>
        <div class="menu-box shadow" routerLink="/AvocatSpecialiteList">
          <div>
            <p><i class="fas fa-user-tie icon-common"></i>          
               <p>Avocat Spécialité</p>
          </div>
        </div>
        <div class="menu-box shadow" routerLink="/AffaireSensList">
          <div>
            <i class="fas fa-search icon-common"></i>
            <p>Affaire Sens</p>
          </div>
        </div>
        <div class="menu-box shadow" routerLink="/BureauList">
          <div>
            <i class="fas fa-building icon-common"></i> <!-- Office or building icon -->
            <p>Bureau</p>
          </div>
        </div>
        
        
    <div class="menu-box shadow" routerLink="/ExpertCompetenceList">
          <div>
            <i class="fas fa-star icon-common"></i>
            <p>Expert Competence</p>
          </div>
        </div>

          
        <div class="menu-box shadow " routerLink="/EtablissementList">
          <div>
            <i class="fas fa-warehouse icon-common"></i>
            <p>Etablissement</p>
          </div>
        </div>
        
          
        <div class="menu-box shadow" routerLink="/SujetContentieuxList">
          <div>
            <i class="fas fa-book icon-common"></i>
            <p>Sujet Contentieux</p>
          </div>
        </div>
        
         
        <div class="menu-box shadow" routerLink="/DossierAxesList">
          <div>
            <i class="fas fa-folder-open icon-common"></i>
            <p>Dossier Axe</p>
          </div>
        </div>
        
        <div class="menu-box shadow" routerLink="/PieceJointeList">
          <div>
            <i class="fas fa-paperclip icon-common"></i> 
            <p>Pièce Jointe</p>
          </div>
        </div>
        
        <div class="menu-box shadow" routerLink="/PreContentieuxTypeList">
          <div>
            <i class="fas fa-file-contract icon-common"></i>
            <p>Type Précontentieux</p>
          </div>
        </div>
        <div class="menu-box shadow" routerLink="/dossier-categories">
          <div>
            <i class="fas fa-folder icon-common"></i>
            <p>Dossier Catégorie</p>
          </div>
        </div>
        
       
      </div>
    </div>
  </div> 
