<div class="container-fluid mt-5">
    <div class="card" style="width: 100%;">
      <div class="card-header" style="background-color: #829B66; color: white;">
        <h4 class="card-title mb-0" style="font-size: 1.1rem;">Modifier un type de bureau</h4>
      </div>
      <div class="card-body p-5">
        <form [formGroup]="bureauTypeForm" (ngSubmit)="updateBureauType()" class="row g-3">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label class="form-label bold-label">État</label>
              <div class="custom-switch d-flex align-items-center">
                <input type="checkbox" id="bureauTypeEtat" (change)="onEtatChange($event)" [checked]="bureauTypeForm.controls['bureauTypeEtat'].value === 1">
                <label class="form-check-label" for="bureauTypeEtat"></label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="bureauTypeLibelle" class="form-label bold-label">
                Libelle <span class="text-danger">*</span>
              </label>
              <input id="bureauTypeLibelle" type="text" class="form-control green-border" formControlName="bureauTypeLibelle">
              <div *ngIf="bureauTypeForm.controls['bureauTypeLibelle'].invalid && (bureauTypeForm.controls['bureauTypeLibelle'].dirty || bureauTypeForm.controls['bureauTypeLibelle'].touched)">
                <small class="text-danger" *ngIf="bureauTypeForm.controls['bureauTypeLibelle'].errors?.['required']">Libelle est requis.</small>
              </div>
            </div>
  
            <div class="col-md-6 mb-3">
              <label for="bureauTypeLibelleArabe" class="form-label bold-label">
                Libelle Arabe <span class="text-danger">*</span>
              </label>
              <input id="bureauTypeLibelleArabe" type="text" class="form-control green-border" formControlName="bureauTypeLibelleArabe">
              <div *ngIf="bureauTypeForm.controls['bureauTypeLibelleArabe'].invalid && (bureauTypeForm.controls['bureauTypeLibelleArabe'].dirty || bureauTypeForm.controls['bureauTypeLibelleArabe'].touched)">
                <small class="text-danger" *ngIf="bureauTypeForm.controls['bureauTypeLibelleArabe'].errors?.['required']">Libelle Arabe est requis.</small>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="bureauTypeDescription" class="form-label bold-label">Description</label>
              <div class="position-relative">
                <textarea id="bureauTypeDescription" class="form-control green-border" formControlName="bureauTypeDescription" rows="3" maxlength="1000"></textarea>
                <div class="text-end mt-2">
                  <small class="text-muted">{{bureauTypeForm.controls['bureauTypeDescription'].value?.length || 0}}/1000</small>
                </div>
              </div>
              <div *ngIf="bureauTypeForm.controls['bureauTypeDescription'].invalid && (bureauTypeForm.controls['bureauTypeDescription'].dirty || bureauTypeForm.controls['bureauTypeDescription'].touched)">
                <small class="text-danger" *ngIf="bureauTypeForm.controls['bureauTypeDescription'].errors?.['required']">Description est requise.</small>
                <small class="text-danger" *ngIf="bureauTypeForm.controls['bureauTypeDescription'].errors?.['minlength']">Description doit comporter au moins 10 caractères.</small>
                <small class="text-danger" *ngIf="bureauTypeForm.controls['bureauTypeDescription'].errors?.['maxlength']">Description ne peut pas dépasser 1000 caractères.</small>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="bureauTypeDescriptionArabe" class="form-label bold-label">Description Arabe</label>
              <div class="position-relative">
                <textarea id="bureauTypeDescriptionArabe" class="form-control green-border" formControlName="bureauTypeDescriptionArabe" rows="3" maxlength="1000"></textarea>
                <div class="text-end mt-2">
                  <small class="text-muted">{{bureauTypeForm.controls['bureauTypeDescriptionArabe'].value?.length || 0}}/1000</small>
                </div>
              </div>
              <div *ngIf="bureauTypeForm.controls['bureauTypeDescriptionArabe'].invalid && (bureauTypeForm.controls['bureauTypeDescriptionArabe'].dirty || bureauTypeForm.controls['bureauTypeDescriptionArabe'].touched)">
                <small class="text-danger" *ngIf="bureauTypeForm.controls['bureauTypeDescriptionArabe'].errors?.['required']">Description Arabe est requise.</small>
                <small class="text-danger" *ngIf="bureauTypeForm.controls['bureauTypeDescriptionArabe'].errors?.['minlength']">Description Arabe doit comporter au moins 10 caractères.</small>
                <small class="text-danger" *ngIf="bureauTypeForm.controls['bureauTypeDescriptionArabe'].errors?.['maxlength']">Description Arabe ne peut pas dépasser 1000 caractères.</small>
              </div>
            </div>
          </div>
        
            <div class="col-12 text-center">
                <button type="submit" class="btn btn-primary me-2">Enregistrer</button>
              <button type="button" (click)="onCancel()" class="btn btn-secondary">Annuler</button>
            </div>
       
        </form>
      </div>
    </div>
  </div>
  