<div class="container-fluid p-0">
  <div class="container-fluid" style="width: 100%;">
    <div *ngIf="professionnelType; else noData">
      <div class="card border-success mt-3">
        <div class="card-header" style="background-color: #829B66; color: white;">
          <h5 class="card-title mb-0"> Details de professionnel   {{ professionnelType.professionnelTypeLibelle }}</h5>
        </div>
        <div class="card-body" style="padding: 1rem;">

          <p class="card-text"><strong>Libellé:</strong> {{ professionnelType.professionnelTypeLibelle }}</p>
          <p class="card-text"><strong>Libellé Arabe:</strong> {{ professionnelType.professionnelTypeLibelleArabe }}</p>
          <p class="card-text"><strong>Description:</strong> {{ professionnelType.professionnelTypeDescription }}</p>
          <p class="card-text"><strong>Description Arabe:</strong> {{ professionnelType.professionnelTypeDescriptionArabe }}</p>
        </div>
      </div>
    </div>

    <ng-template #noData>
      <div class="alert alert-warning mt-3" role="alert">
        Aucun détail disponible pour ce Professionnal Type.
      </div>
    </ng-template>
    <div class="mt-3">
      <a routerLink="/pro-types" class="btn btn-secondary">
        <i class="fas fa-arrow-left mr-1"></i> Retour
      </a>
    </div>
    
  </div>
</div>
