.card {
    margin-top: 20px;
  }
  
  .card-header {
    margin-bottom: 10px;
  }
  
  .btn-primary {
    background-color: #006DA2;
    border-color: #006DA2;
    color: white;
  }
  
  .btn-primary i {
    margin-right: 5px;
  }
  