<div class="container-fluid mt-5">
    <div class="card" style="width: 100%;">
      <div class="card-header" style="background-color: #829B66; color: white;">
        <h4 class="card-title mb-0" style="font-size: 1.1rem;">Modifier un sujet contentieux</h4>
      </div>
      <div class="card-body p-5">
        <form [formGroup]="contentieuxSujetForm" (ngSubmit)="updateContentieuxSujet()" class="row g-3">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label class="form-label bold-label">État</label>
              <div class="custom-switch d-flex align-items-center">
                <input type="checkbox" id="contentieuxSujetEtat" (change)="onEtatChange($event)" [checked]="contentieuxSujetForm.controls['contentieuxSujetEtat'].value === 1">
                <label class="form-check-label" for="contentieuxSujetEtat"></label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="contentieuxSujetLibelle" class="form-label bold-label">
                Libellé <span class="text-danger">*</span>
              </label>
              <input id="contentieuxSujetLibelle" type="text" class="form-control green-border" formControlName="contentieuxSujetLibelle">
              <div *ngIf="contentieuxSujetForm.controls['contentieuxSujetLibelle'].invalid && (contentieuxSujetForm.controls['contentieuxSujetLibelle'].dirty || contentieuxSujetForm.controls['contentieuxSujetLibelle'].touched)">
                <small class="text-danger" *ngIf="contentieuxSujetForm.controls['contentieuxSujetLibelle'].errors?.['required']">Libellé est requis.</small>
              </div>
            </div>
  
            <div class="col-md-6 mb-3">
              <label for="contentieuxSujetLibelleArabe" class="form-label bold-label">
                Libellé Arabe <span class="text-danger">*</span>
              </label>
              <input id="contentieuxSujetLibelleArabe" type="text" class="form-control green-border" formControlName="contentieuxSujetLibelleArabe">
              <div *ngIf="contentieuxSujetForm.controls['contentieuxSujetLibelleArabe'].invalid && (contentieuxSujetForm.controls['contentieuxSujetLibelleArabe'].dirty || contentieuxSujetForm.controls['contentieuxSujetLibelleArabe'].touched)">
                <small class="text-danger" *ngIf="contentieuxSujetForm.controls['contentieuxSujetLibelleArabe'].errors?.['required']">Libellé Arabe est requis.</small>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="contentieuxDescription" class="form-label bold-label">Description</label>
              <div class="position-relative">
                <textarea id="contentieuxDescription" class="form-control green-border" formControlName="contentieuxDescription" rows="3" maxlength="1000"></textarea>
                <div class="text-end mt-2">
                  <small class="text-muted">{{contentieuxSujetForm.controls['contentieuxDescription'].value?.length || 0}}/1000</small>
                </div>
              </div>
              <div *ngIf="contentieuxSujetForm.controls['contentieuxDescription'].invalid && (contentieuxSujetForm.controls['contentieuxDescription'].dirty || contentieuxSujetForm.controls['contentieuxDescription'].touched)">
                <small class="text-danger" *ngIf="contentieuxSujetForm.controls['contentieuxDescription'].errors?.['required']">Description est requise.</small>
                <small class="text-danger" *ngIf="contentieuxSujetForm.controls['contentieuxDescription'].errors?.['minlength']">Description doit comporter au moins 10 caractères.</small>
                <small class="text-danger" *ngIf="contentieuxSujetForm.controls['contentieuxDescription'].errors?.['maxlength']">Description ne peut pas dépasser 1000 caractères.</small>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="contentieuxDescriptionArabe" class="form-label bold-label">Description Arabe</label>
              <div class="position-relative">
                <textarea id="contentieuxDescriptionArabe" class="form-control green-border" formControlName="contentieuxDescriptionArabe" rows="3" maxlength="1000"></textarea>
                <div class="text-end mt-2">
                  <small class="text-muted">{{contentieuxSujetForm.controls['contentieuxDescriptionArabe'].value?.length || 0}}/1000</small>
                </div>
              </div>
              <div *ngIf="contentieuxSujetForm.controls['contentieuxDescriptionArabe'].invalid && (contentieuxSujetForm.controls['contentieuxDescriptionArabe'].dirty || contentieuxSujetForm.controls['contentieuxDescriptionArabe'].touched)">
                <small class="text-danger" *ngIf="contentieuxSujetForm.controls['contentieuxDescriptionArabe'].errors?.['required']">Description Arabe est requise.</small>
                <small class="text-danger" *ngIf="contentieuxSujetForm.controls['contentieuxDescriptionArabe'].errors?.['minlength']">Description Arabe doit comporter au moins 10 caractères.</small>
                <small class="text-danger" *ngIf="contentieuxSujetForm.controls['contentieuxDescriptionArabe'].errors?.['maxlength']">Description Arabe ne peut pas dépasser 1000 caractères.</small>
              </div>
            </div>
          </div>
          <div class="col-12 text-center">
            <button type="submit" class="btn custom-btn-success mx-2" [disabled]="contentieuxSujetForm.invalid" i18n="@@updateButton">Mettre à jour</button>
            <button type="button" class="btn btn-secondary mx-2" (click)="onCancel()" i18n="@@cancelButton">Annuler</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  