<div class="container-fluid p-0">
    <div class="container-fluid" style="width: 100%;">
      <div *ngIf="bureau; else noData">
        <div class="card border-success mt-3">
          <div class="card-header" style="background-color: #829B66; color: white;">
            <h5 class="card-title mb-0">Détails du Bureau {{ bureau.bureauRaisonSocial }}</h5>
          </div>
          <div class="card-body" style="padding: 1rem;">
            <p class="card-text"><strong>Raison Sociale:</strong> {{ bureau.bureauRaisonSocial }}</p>
            <p class="card-text"><strong>Raison Sociale Arabe:</strong> {{ bureau.bureauRaisonSocialArabe }}</p>
            <p class="card-text"><strong>Personne Contact:</strong> {{ bureau.bureauPersonneContact }}</p>
            <p class="card-text"><strong>Personne Contact Arabe:</strong> {{ bureau.bureauPersonneContactArabe }}</p>
            <p class="card-text"><strong>Téléphone:</strong> {{ bureau.bureauTelephone }}</p>
            <p class="card-text"><strong>GSM:</strong> {{ bureau.bureauGsm }}</p>
            <p class="card-text"><strong>Fax:</strong> {{ bureau.bureauFax }}</p>
            <p class="card-text"><strong>Adresse:</strong> {{ bureau.bureauAdresse }}</p>
            <p class="card-text"><strong>Adresse Arabe:</strong> {{ bureau.bureauAdresseArabe }}</p>
            <p class="card-text"><strong>Code Postal:</strong> {{ bureau.bureauCodePostal }}</p>
            <p class="card-text"><strong>Email:</strong> {{ bureau.bureauEmail }}</p>
          </div>
        </div>
      </div>
  
      <ng-template #noData>
        <div class="alert alert-warning mt-3" role="alert">
          Aucun détail disponible pour ce Bureau.
        </div>
      </ng-template>
      <div class="mt-3">
        <a routerLink="/BureauList" class="btn btn-secondary">
          <i class="fas fa-arrow-left mr-1"></i> Retour
        </a>
      </div>
    </div>
  </div>
  