 .container {
    margin-top: 20px;
  }
  
  .alert-danger {
    margin-top: 10px;
  }
 .small-table td, .small-table th {
  padding: 0.5rem; 
}


 .custom-btn-success {
  background-color: #699f34;
  border-color: #699f34;
  color: #fff;
}

.custom-btn-success:hover {
  background-color: #5a8a27;
  border-color: #5a8a27;
}
////////////////////////SEAAAAAAAAAAAAAAARCH
.ml-auto {
  margin-left: 73%;
}
.custom-input {
  background-color: white;  
  border: 1px solid #ced4da; 
  border-radius: 0.25rem;  
}