<div class="container-fluid mt-5">
    <div class="card" style="width: 100%;">
      <div class="card-header" style="background-color: #829B66; color: white;">
        <h4 class="card-title mb-0" style="font-size: 1.1rem;" i18n="@@updateClientTypeTitle">Modifier un type de client</h4>
      </div>
      <div class="card-body p-5">
        <form [formGroup]="clientTypeForm" (ngSubmit)="updateClientType()" class="row g-3">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label class="form-label bold-label" i18n="@@etatLabel">État</label>
              <div class="custom-switch d-flex align-items-center">
                <input 
                  type="checkbox" 
                  id="clientTypeEtat" 
                  (change)="onEtatChange($event)" 
                  [checked]="clientTypeForm.get('clientTypeEtat')?.value === 1"
                >
                <label class="form-check-label" for="clientTypeEtat"></label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="clientTypeLibelle" class="form-label bold-label" i18n="@@libelleLabel">
                Libelle <span class="text-danger">*</span>
              </label>
              <input 
                id="clientTypeLibelle" 
                type="text" 
                class="form-control green-border" 
                formControlName="clientTypeLibelle" 
                required
              >
              <div *ngIf="clientTypeForm.get('clientTypeLibelle')?.invalid && (clientTypeForm.get('clientTypeLibelle')?.dirty || clientTypeForm.get('clientTypeLibelle')?.touched)">
                <small class="text-danger" *ngIf="clientTypeForm.get('clientTypeLibelle')?.errors?.['required']" i18n="@@libelleRequired">Libelle est requis.</small>
              </div>
            </div>
  
            <div class="col-md-6 mb-3">
              <label for="clientTypeLibelleArabe" class="form-label bold-label" i18n="@@libelleArabeLabel">
                Libelle Arabe <span class="text-danger">*</span>
              </label>
              <input 
                id="clientTypeLibelleArabe" 
                type="text" 
                class="form-control green-border" 
                formControlName="clientTypeLibelleArabe" 
                required
              >
              <div *ngIf="clientTypeForm.get('clientTypeLibelleArabe')?.invalid && (clientTypeForm.get('clientTypeLibelleArabe')?.dirty || clientTypeForm.get('clientTypeLibelleArabe')?.touched)">
                <small class="text-danger" *ngIf="clientTypeForm.get('clientTypeLibelleArabe')?.errors?.['required']" i18n="@@libelleArabeRequired">Libelle Arabe est requis.</small>
              </div>
            </div>
          </div>
         
          <div class="col-12 text-center">
            <button type="submit" class="btn custom-btn-success mx-2" [disabled]="clientTypeForm.invalid" i18n="@@validateButton">Valider</button>
            <button type="button" class="btn btn-secondary mx-2" (click)="onCancel()" i18n="@@cancelButton">Annuler</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  