<div class="container-fluid mt-5">
    <div class="card" style="width: 100%;">
      <div class="card-header" style="background-color: #829B66; color: white;">
        <h4 class="card-title mb-0" style="font-size: 1.1rem;">Modifier un type d'affaire</h4>
      </div>
      <div class="card-body p-5">
        <form [formGroup]="affaireSensForm" (ngSubmit)="updateAffaireSens()" class="row g-3">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label class="form-label bold-label">État</label>
              <div class="custom-switch d-flex align-items-center">
                <input type="checkbox" id="affaireSensEtat" (change)="onEtatChange($event)" [checked]="affaireSensForm.controls['affaireSensEtat'].value === 1">
                <label class="form-check-label" for="affaireSensEtat"></label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="affaireSensLibelle" class="form-label bold-label">
                Libelle <span class="text-danger">*</span>
              </label>
              <input id="affaireSensLibelle" type="text" class="form-control green-border" formControlName="affaireSensLibelle">
              <div *ngIf="affaireSensForm.controls['affaireSensLibelle'].invalid && (affaireSensForm.controls['affaireSensLibelle'].dirty || affaireSensForm.controls['affaireSensLibelle'].touched)">
                <small class="text-danger" *ngIf="affaireSensForm.controls['affaireSensLibelle'].errors?.['required']">Libelle est requis.</small>
              </div>
            </div>
  
            <div class="col-md-6 mb-3">
              <label for="affaireSensLibelleArabe" class="form-label bold-label">
                Libelle Arabe <span class="text-danger">*</span>
              </label>
              <input id="affaireSensLibelleArabe" type="text" class="form-control green-border" formControlName="affaireSensLibelleArabe">
              <div *ngIf="affaireSensForm.controls['affaireSensLibelleArabe'].invalid && (affaireSensForm.controls['affaireSensLibelleArabe'].dirty || affaireSensForm.controls['affaireSensLibelleArabe'].touched)">
                <small class="text-danger" *ngIf="affaireSensForm.controls['affaireSensLibelleArabe'].errors?.['required']">Libelle Arabe est requis.</small>
              </div>
            </div>
          </div>
          
          <div class="col-12 text-center">
            <button type="submit" class="btn custom-btn-success mx-2">Mettre à jour</button>
            <button type="button" class="btn btn-secondary mx-2" (click)="onCancel()">Annuler</button>
          </div>
        </form>
        <div *ngIf="errorMessage" class="alert alert-danger mt-3">
          {{ errorMessage }}
        </div>
  
      </div>
    </div>
  </div>
  